body { 
    margin: 0;
}

body, 
button {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 36em;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav,
nav a {
    color: white;
}

main {
    /*text-align: justify;*/
    padding: 1em;
}

figure {
    margin: 0 0 1em 0;
}

figcaption {
    font-size: 16px;
}

h1 {
    font-size: 24px;
    text-align: left;
}

h2 {
    font-size: 22px;
}

.title {
    font-size: 60px;
}

.title,
.subtitle {
    text-align: center;
}

.next {
    margin-top: 40px;
}

.hidden {
    display: none;
}